[class^="container"],
[class^="col"],
[class^="as-container"]{
  background-color: lightgreen;
  border: 1px solid black;
}

header, footer{
  height: 90px;
  background-color: grey;
}

.as-container{
  width: 60%;
  margin: 0 auto;
}